* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }

a:hover, button:hover {
    cursor: url('../img/paw.png'), pointer;
}
html { background: #000; font: normal 1em/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif; color: #fff; text-align: center; height: 100%; }
body { height: 98%; cursor: url('../img/paw.png'), auto;}

#video-viewport { position: absolute; top: 0; left: 0; width: 100%; height: 100%; overflow: hidden; z-index: -1; }
video { display: block; width: 100%; height: auto; }

.fullsize-video-bg { height: 100%; overflow: hidden; }

.fullsize-video-bg:before { content: ""; background: rgba(114,45,0,.35); position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 0; }



.fullsize-video-bg .inner { display: table; width: 100%; max-width: 24em; height: 100%; margin: 0 auto; padding: 0; position: relative; z-index: 2; text-shadow: 0 1px 5px rgba(0,0,0,.5); }
.fullsize-video-bg .inner > div { text-align: center; display: table-cell; vertical-align: middle; padding: 0 2em; }

.maintitle h1 {
    font-size: 3em;
    margin-bottom: 0;
    line-height: 1;
    font-family: 'Thit Sar Shwe Si', sans-serif;
}
.maintitle p {
    font-size: 1.5em;
    margin-top: 0.2em;
    line-height: 1.3;
    font-family: "Anton SC", sans-serif;
}

@font-face {
    font-family: 'Thit Sar Shwe Si';
    src: url('../font/Thit Sar Shwe Si.ttf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}
